@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poltawski+Nowy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald:wght@600&family=Poltawski+Nowy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
:root {
    --primary-color: rgb(57, 57, 190);
    --secondary-color: rgb(23, 19, 19);
    --accent1-color: rgb(66, 33, 33);
    --accent2-color: rgb(171, 117, 117);
    --heading-font: 'pridi',  serif;
    --paragraph-font: 'poltawski ', serif;
    --font1: 'josefin', serif;
    --font2: 'nowy', 'sans';
    --nav-bacground-color: rgb(54, 47, 47);
    --nav-link-color: rgb(36, 32, 154);
    --nav-hover-background-color: rgb(2, 48, 2);
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    font-style: italic;
}
p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sociallinks a{
    text-decoration: none ;
}
.hero {
    position:relative ;
}
.hero img {
    display: block;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero h1{
    position: absolute;
    text-align: center;
    bottom: 75%;
    color: aliceblue;
    background-color: rgb(235, 233, 233, 0.5);
    padding-left: 35%;
    padding-right: 39.6%;
}
.hero article {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: rgba(7, 7, 238, 0.4);
    padding-right: 45%;
    /* text-align: center; */
}
#image {
    float: right;
    left: 99%;
}
#paragraph{
    color: aliceblue;
}
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background: rgb(155, 156, 168);
    /* color: ;
    font-size: ;
    font-family: ;
    font-weight: ; */

}
header nav {
    text-align: right;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.link a {
    margin: 0px 5px;
    background: #fff;
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
/* .background {
    background: #6a5a5a;
    padding-bottom: 10%;
}
.history {
    color: #fff;
    padding: 2%;
}
figure img{
    height: 150px ;
}
.adventure h2 {
    display: flex;
    justify-content: center;
    color: antiquewhite; 
} */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background: rgb(155, 156, 168);
}
footer nav {
    display: flex;
    align-items: center;
}
.sociallinks a {
    margin: 0px 5px;
}
/* .adventure div {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* padding-left: 20%; */
} */
/* figcaption {
    color: bisque;
} */

/* header img {
    left: 10%;
} */
/* .link {
    width: ;
} */
 /* #logo {
    width: auto;
    height: auto;
    float: left;
    padding: 22.5px 0px 0px 10px;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */

/* .link{
    display: block;
    padding: 20px;
    text-decoration: none;
} */
main img{
    display: block;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* button {
    margin: 1rem;
    background-color: rgb(25, 25, 96);
    color: antiquewhite;
    border: none;
    padding: .75rem;
    font-size: 1.1rem;
    display: grid;
}
button:hover {
    background-color: darkgreen; */
.head h2{
    position: absolute;
    text-align:center;
    color: rgb(26, 189, 181);
    bottom: 55%;
    padding-left: 20%;
}
.head nav {
    position: absolute;
    background-color: aqua;
    width:fit-content;
    float: right;
    bottom: 30px;
    left: 80%;
    border-radius: 50px;
}
.head a{
    padding: 10px;
    text-decoration: none; 
}
.head h1 {
    position: absolute;
    text-align: center;
    bottom: 65%;
    padding-left: 20%;
    /* padding-right: 39.6%; */
    color: rgb(244, 246, 248); 
    font-weight: bolder;
    font-size:xx-large;
}
.head {
    position: relative;
}
.head img {
    display: block;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
}
/* .head article {
    position: absolute;
    top: 40%;
    padding: 30px;
} */
form {
    padding-left: 5%;
    padding-right: 5%;
}
form img {
    width: 100px;
}
fieldset {
    margin-top: 30px;
    background-color: aliceblue;
    border-radius: 20px;
    
}
fieldset h2 {
    text-align: center;
    bottom: 50%;
    color: rgb(20, 94, 94);
}
form p {
    /* font-size: small;     */
    color: navy;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}
input {
    border-radius: 10px;
    font-family: cursive;
    padding-bottom: 1px;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
}
.news{
    padding-left: 20px;
}
.news input {
    float: left;
    margin-right: 10px;
}
.news input:before {
    height: 25px;
    width: 25px;
    background: #ddd;
    border: 1px solid #000;
}
.news input:checked:before {
    background: #0f0;
}
button {
    background:navy;
    color: aliceblue;
    border-radius: 5px;
    width: fit-content;
    font-size: large;
}
.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
}
.first img {
    width: 601px;;
    height: 300px;
    position: relative;
}
.first h3 {
    position: absolute;
    bottom: -80%;
    color: white;
    inline-size: 590px;
    overflow-wrap: break-word;
    background-color: rgba(75, 60, 148, 0.7);
}
.second {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.second img {
    width: 290px;
    height: 200px;
    position: relative;
}
.second h3 {
    position: absolute;
    color: white;
    inline-size: 250px;
    overflow-wrap: break-word;
    bottom:-110%;
    background-color: rgba(75, 60, 148, 0.7);
}
.first {
    padding-bottom:10px ;
}
.sites {
    width: 25px;
}