@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poltawski+Nowy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald:wght@600&family=Poltawski+Nowy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
:root {
    --primary-color: rgb(57, 57, 190);
    --secondary-color: rgb(23, 19, 19);
    --accent1-color: rgb(66, 33, 33);
    --accent2-color: rgb(171, 117, 117);
    --heading-font: 'pridi',  serif;
    --paragraph-font: 'poltawski ', serif;
    --font1: 'josefin', serif;
    --font2: 'nowy', 'sans';
    --nav-bacground-color: rgb(54, 47, 47);
    --nav-link-color: rgb(36, 32, 154);
    --nav-hover-background-color: rgb(2, 48, 2);
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    font-style: italic;
}
p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sociallinks a{
    text-decoration: none ;
}
header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background: rgb(155, 156, 168);
    /* color: ;
    font-size: ;
    font-family: ;
    font-weight: ; */

}
header nav {
    text-align: right;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.link a {
    margin: 0px 5px;
    background: #fff;
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    background: rgb(155, 156, 168);
}
footer nav {
    display: flex;
    align-items: center;
}
.sociallinks a {
    margin: 0px 5px;
}
.sites {
    width: 25px;
}
/* header img {
    left: 10%;
} */
/* .link {
    width: ;
} */
 /* #logo {
    width: auto;
    height: auto;
    float: left;
    padding: 22.5px 0px 0px 10px;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */

/* .link{
    display: block;
    padding: 20px;
    text-decoration: none;
} */
main img{
    display: block;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 500px;
}
h2{
    border-top-style:inset;
    border-color: aliceblue;
    text-align: center;
}
.contact {
    border-color: black;
    background-color: rgb(51, 117, 95);
    color: antiquewhite;
    margin-left: 1000px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    position: fixed;
    bottom: 20%;
    right: 0%;
}
.contact a {
    color: antiquewhite;
    font-family: var(--font1 );
    text-decoration: none;
}
.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
    color: navy;
    background-color: aliceblue;
}
.trips button:hover {
    color: aquamarine;
}
.event1 img, .event2 img, .event3 img, .event4 img, .event5 img, .event6 img {
    position: relative;
}
.event1, .event2, .event3, .event4, .event5, .event6 {
    border-style:outset;
    margin: 2px ;
}
figure img {
    height: 250px;
    width: 300px;
}
.event1 h6, .event2 h6, .event3 h6, .event4 h6, .event5 h6, .event6 h6 {
    background-color: rgba(160, 31, 31, 0.719);
    color: #fff;
    border-radius: 35px;
    padding: 7px;
    width: 35px;
}
.event1 h6 { 
    position: absolute;
    top: 990px;
    left: 315px;
}
.event2 h6 {
    position: absolute;
    top: 990px;
    left: 700px;
}
.event3 h6 {
    position: absolute;
    top: 990px;
    left: 1090px;
}
.event4 h6 {
    position: absolute;
    top: 1337px;
    left: 315px;
}
.event5 h6 {
    position: absolute;
    top: 1337px;
    left: 700px;
}
.event6 h6 {
    position: absolute;
    top: 1337px;
    left: 1090px;
}
.event1 button, .event5 button, .event6 button{
    margin-top: 15px;
    background-color: navy;
    color: whitesmoke;
    border-radius: 4px;
    float: right;
    margin-right: 5px;
    margin-top: 28px;

}
.event2 button, .event3 button, .event4 button {
    margin-top: 10px;
    background-color: navy;
    color: whitesmoke;
    border-radius: 4px;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}


